<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {{#if form}}
    <title>Form: {{form}} for {{client}}</title>
    {{else}}
    <title>Welcome to PrimeGov Forms Testing Ground</title>
    {{/if}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/css/vendor/bootstrap.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/bootstrap-editable.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/bootstrap-datepicker.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/bootstrap-multiselect.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/font-awesome.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/toastr.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/fullcalendar.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/vendor/bootstrap-dialog.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/Site.css" rel="stylesheet">
    <link href="{{clientUrl}}/Content/css/Style.css" rel="stylesheet">

    <link rel="stylesheet" href="{{clientUrl}}/Content/plugins/accusoftViewer/css/normalize.min.css">
    <link rel="stylesheet" href="{{clientUrl}}/Content/plugins/accusoftViewer/css/viewercontrol.css">
    <link rel="stylesheet" href="{{clientUrl}}/Content/plugins/accusoftViewer/css/viewer.css">
    <link href="{{clientUrl}}/Content/plugins/datatables/datatables.min.css" rel="stylesheet">

    <link href="{{clientUrl}}/Content/kendo/2016.1.226/kendo.common.min.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/kendo/2016.1.226/kendo.mobile.all.min.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/kendo/2016.1.226/kendo.dataviz.min.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/kendo/2016.1.226/kendo.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/kendo/2016.1.226/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/css/vendor/fixedsticky.css" rel="stylesheet" type="text/css">
    <link href="{{clientUrl}}/Content/css/frontend/frontend.css?v=1.1" rel="stylesheet" type="text/css">


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div>
            <a href="/">Return</a>
        </div>
        <div>
            <p>
                Editing <b style="text-transform: uppercase">{{form}}</b> for: <b>{{client}}</b>, and their URL is <a href="{{clientUrl}}" target="_blank">{{clientUrl}}</a>
            </p>
        </div>
        {{{ body }}}
    </div>
    <footer class="container-fluid text-center footer">
        © 2019 PrimeGov, LLC. All Rights Reserved
    </footer>
</body>

</html>